<% layout("layout/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/listings" method="POST">
                <br>
        <h3>Create a New Listing</h3>
        <br>
        <div class="mb-3">
        <label for="title" class="form-label">Enter Title:</label>
        <input type="text" id="title" name="listing[title]" class="form-control" placeholder="Enter Title" required>
        </div>
        
        <div class="mb-3">
        <label for="description" class="form-label">Enter Description:</label>
        <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter Description" required></textarea>
        </div>

        <div class="mb-3">
        <label for="image" class="form-label">Enter Image Link:</label>
        <input type="text" id="image" name="listing[image]" class="form-control" placeholder="Enter image URL/link" >
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Enter Price:</label>
        <input type="number" id="price" name="listing[price]" class="form-control" placeholder="Enter Price" required>
        </div>
        <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Enter Location:</label>
        <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Enter Location" required>
        </div>
        </div>
        <div class="mb-3">
        <label for="country" class="form-label">Enter Country:</label>
        <input type="text" id="country" name="listing[country]" class="form-control" placeholder="Enter Country" required>
        </div>
        <button type="submit" class="btn-new btn btn-dark">Submit Listing</button>
        <br><br><br><br>
    </form>
    </div>
    </div>
</body>