<% layout("layout/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/listings" method="POST" novalidate class="needs-validation" >
                <br>
        <h3>Create a New Listing</h3>
        <br>
        <!-- Title -->
        <div class="mb-3">
        <label for="title" class="form-label">Enter Title:</label>
        <input type="text" id="title" name="listing[title]" class="form-control" placeholder="Enter Title" required>
         <div class="valid-feedback">
            Title is valid.
        </div>
        <div class="invalid-feedback">
            Title is invalid.
        </div>
    </div>
    <!-- Description -->
        <div class="mb-3">
        <label for="description" class="form-label">Enter Description:</label>
        <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter Description" required></textarea>
        <div class="invalid-feedback">
            Description is invalid.
        </div>
    </div>
    <!-- Image -->
        <div class="mb-3">
        <label for="image" class="form-label">Enter Image Link:</label>
        <input type="text" id="image" name="listing[image]" class="form-control" placeholder="Enter image URL/link" >
        </div>

        <!-- Price and location -->
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Enter Price:</label>
        <input  id="price" name="listing[price]" class="form-control" placeholder="Enter Price" required>
        <div class="invalid-feedback">
            Price is invalid.
        </div>
        </div>
        <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Enter Location:</label>
        <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Enter Location" required>
        <div class="invalid-feedback"> 
            Location is invalid.
        </div>
        </div>
        </div>
        <!-- Country -->
        <div class="mb-3">
        <label for="country" class="form-label">Enter Country:</label>
        <input type="text" id="country" name="listing[country]" class="form-control" placeholder="Enter Country" required>

        <div class="invalid-feedback">
            Country is invalid.
        </div>
    </div>
    <!-- button -->
        <button type="submit" class="btn-new btn btn-dark">Submit Listing</button>
        <br><br><br><br>
    </form>
    </div>
    </div>
</body>