<% layout("layout/boilerplate") %>

<div class="alert alert-danger mt-5" role="alert">
  <h4 class="alert-heading">Error Occured!</h4>
  <p><%= err.message %></p>
  <hr>
  <p class="mb-0">Till then explore our <button class="btn btn-dark btn-error"><a href="/">Homepage</a></button></p>
</div>