body{
    font-family: "Playfair Display", serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1;
}

.listHead{
    padding: 1rem;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: #f8f9fa;
}

.fa-compass{
    color: #fe4243;
    font-size: 2rem;
}

.nav-link{
    color:black !important;

}

/* footer */

.f-info{
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.f-socials, .f-company, .f-links{
    width:100%;
}

.f-socials{
    font-size: 1.4rem;
}

.fa-brands{
    margin-right: 0.2rem;
    transition: 0.3s ease, font-size 0.3s ease;
}

.fa-brands:hover{
    color: #434343;
    font-size: 1.5rem;
}

.f-links a{
    text-decoration: none;
    color: #222222;
}

.f-links a:hover{
    text-decoration: underline;
    color:#434343;
}


/* Cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-body{
    padding-left: 0 !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-title{
    margin: 0 !important;
}

.card-text {
    font-weight: 400 !important;
    padding-bottom: 1rem !important;
    font-size: 1.2rem !important;
    padding-top: 0 !important;
}

.card-links{
    text-decoration: none ;
    color: #222222 ;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #f8f9fa;
}

/* Edit page */
.edit-btn{
    border: none !important;
}

/* New Page */
.btn-new{
    border: none !important;
}

/* Show Page */

.show-img{
    height: 30vh !important;
}
.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-btn {
    display: flex;
    gap: 1rem;
}

.right-btn {
    display: flex;
    justify-content: flex-end;
}

/* Error page */
.btn-error{
    padding: 0.2rem !important;
}

.btn-error a{
    text-decoration: none !important;
    color: aliceblue !important;
}